@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
/*	background-color: #5f9ea0;
*/}

#title {
	font-family: 'Lobster', cursive;
	text-align: center;
}

.profile-pic {
	width:150px;
	height: 150px;
	margin: 0 auto;
	background-color: #000;
	border-radius: 50%;
}

.tweets div.message {
	border: 1px solid black;
	background-color: #efefef;
	padding: 2%;
	margin-bottom: 1%;
}

.suggested {
	border: 1px solid black;
	background: white;	
}

